.DS_store
.Rhistory
.idea/
actr-models/__pycache__
actr-models/.ipynb_checkpoints
actr-models/.Rhistory
actr-models/model_output/gambling_model_cache
actr-models/model_output/gambling_model_files
actr-models/.idea/workspace.xml
actr-models/model_output/.Rhistory
actr-models/.idea
actr-models/old
actr-models/venv
actr-models/model_output/old
actr-models/model_output/gs_check
actr-models/model_output/seed
actr-models/model_output/*.csv
bin/ROI_pwer264
cherdata
temp/
rsfmri/REST*
rsfmri/.idea
rsfmri/__pycache__
rsfmri/.ipynb_checkpoints/
rsfmri/bin
rsfmri/*sub
rsfmri/old
rsfmri/REST_corr
rsfmri/timeseries
*sub/
bin/






