.DS_store
.Rhistory
.idea/
actr-models/model_output/maxloglikelihood_analysis_cache/
actr-models/model_output/maxloglikelihood_analysis_files/
actr-models/model_output/model_output_local/
actr-models/model_output/model_output_local.tar.gz
actr-models/__pycache__
actr-models/.ipynb_checkpoints
actr-models/.Rhistory
actr-models/model_output/gambling_model_cache
actr-models/model_output/gambling_model_files
actr-models/.idea/workspace.xml
actr-models/model_output/.Rhistory
actr-models/.idea
actr-models/old
actr-models/venv
actr-models/model_output/old
actr-models/model_output/gs_check
actr-models/model_output/seed
rsfmri/__cache__/
rsfmri/connectivity_matrix
rsfmri/REST2
rsfmri/REST1/*/ses-02
rsfmri/.idea
rsfmri/__pycache__
rsfmri/.ipynb_checkpoints/
rsfmri/bin
rsfmri/*sub
rsfmri/old
rsfmri/REST_corr
rsfmri/timeseries
rsfmri/gambling_rfmri_UP_cache
rsfmri/gambling_rfmri_UP_files
*sub/
*timeseries*
*spearman*
*raw_corr*
*mr_corr*
cherdata
temp/




