* {
  padding: 0;
  margin: 0;
}
body {
  font: 1em/1.5 "Avenir", "Avenir Next", Helvetica Neue, Arial;
}
main {
  padding: 32px;
}
p {
  max-width: 800px;
}
h1 {
  color: #492a7c;
  margin-bottom: 16px;
}
h2 {
  border-bottom: 2px solid #ccc;
  margin: 32px 0 16px;
  width: fit-content;
}
footer {
  padding-top: 16px;
  text-align: right;
}
.float-parent-element { 
  width: 90%; 
} 
.float-child-element { 
  float: left; 
  width: 50%; 
} 
